{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Voting Dashboard</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<section class="overview" id="Dashboard">
    <h2><i class="fa-solid fa-earth-asia" style="color: white;"></i>Dashboard</h2>
    <p style="color: rgb(11, 210, 11); margin-top: 5px;font-size: 26px;"><b>Welcome to VotingGo</b></p>
    <p style="color: rgb(110, 179, 184); margin-top: 5px; font-size: 16px;"><b>Hello, Ashish how is there!</b>
    </p>

    <!-- Graph Section -->
    <div class="graph-section">
        <div class="graph">
            <canvas id="votesByDay"></canvas>
        </div>
        <div class="pie-chart">
            <canvas id="votesDistribution"></canvas>
        </div>
    </div>

    <!-- Vote Count Boxes -->
    <div class="vote-section">
        <div class="vote-count">
            <h1><i class="fa-regular fa-address-card"></i></i>5,58,684</h1><br>
            <p>Votes</p>
        </div>
        <div class="vote-count completed" style="background-color: #ee1c75;">
            <h1><i class="fa-solid fa-users-line" style="color: #87053b"></i>1,11,114</h1><br>
            <p>Voters</p>
        </div>
        <div class="vote-count verified-voters" style="background-color:#28a745">
            <h1><i class="fa-solid fa-circle-check" style=" color: #085f1d;"></i>4,21,521</h1><br>
            <p>Verified voters</p>
        </div>
</section>

{% endblock content %}